body {
    color: green !important;
    background-color: #fff !important;
}

.centered-div {
    /* justify-self: center;
    width: 60%;
    height: 100%;
    margin: 0 auto; */
    border-left: 2px solid grey;
    border-right: 3px solid grey;
    /* padding: 10px; */
}